html{
    background-color: white;
}
body {
    text-align: center;
}
button {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
}
#main-content {
    width: 80%;
    margin: 50px auto;


}

#calculator {
    width: 30%;
    height: 10%;
    margin: 0 auto;
    padding: 5px 45px;
    border: 2px black solid;
    background-color: #3c3c3e;
}
#backspace {
    height: 50px;
    margin: 0 auto;
}
#history {
    float: left;
    padding-left: 10px;
    color: rgb(158, 158, 158);
}

.operator, #equals, #exponent, #sqrt, #clear{
    background-color: rgba(255, 166, 0, 0.719);

}
#clear {
    background-color: rgb(255, 60, 0);
}
.row {
    display: flex;
    text-align: center;
    
  }
  
  .column {
    flex:1;
  }
  .zero{
      flex: 2;
  }
  .display {
    font-family: 'Press Start 2P', cursive;
      flex: 3;
      background-color: rgba(170, 250, 116, 0.877);
      border: solid black 2px;
      height: 45px;
      border-radius: 15px;
      text-align: right;
  }
  .display p {
      padding-right: 10px;
  }


  button {
      margin: 5px auto;
      width: 100%;
  }
